body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #38bdf8;
}

/* Cards */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

/* Button */
.btn {
  background: #22c55e;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #16a34a;
}
input, textarea {
  background: #0f172a;
  color: white;
  border: 1px solid #334155;
  border-radius: 8px;
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}